In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import numpy as np
import pandas as pd
from glob import glob
from tqdm import tqdm
import matplotlib.pyplot as plt
import pathlib

In [3]:
exp_dir = "experiments/191023_174532_fold_model_type_film_test_run_all_folds/*"

In [4]:
class HyperParametersSummary:
    def __init__(self, filter_path: str):
        self.predictions = []
        self.parameters = []
        self.groups = {}
        self.table = []
        for f in tqdm(glob(filter_path)):
            parameters = f.split('/')[-1]
            self.parameters.append(parameters)
            column = {}
            for parameter in parameters.split(';'):                
                parameter_key, parameter_value = parameter.split('=')
                column[parameter_key] = parameter_value
            # Insert some code here to parse the metrics and their values
            column['mIoU'] = 0.0
            self.table.append(column)
        self.table = pd.DataFrame(self.table )
        self.group_names = ', '.join(self.groups.keys())
        print(f'Parameters: {self.group_names}')

In [6]:
hp_summary = HyperParametersSummary(exp_dir)

hp_summary.table.groupby(['model_type', 'film', 'fold']).mean()

100%|██████████| 32/32 [00:00<00:00, 51463.85it/s]

Parameters:

                          mIoU
model_type     film fold
coatt          0    0      0.0
                    1      0.0
                    2      0.0
                    3      0.0
               1    0      0.0
                    1      0.0
                    2      0.0
                    3      0.0
iter_nwe_coatt 0    0      0.0
                    1      0.0
                    2      0.0
                    3      0.0
               1    0      0.0
                    1      0.0
                    2      0.0
                    3      0.0
nwe            0    0      0.0
                    1      0.0
                    2      0.0
                    3      0.0
               1    0      0.0
                    1      0.0
                    2      0.0
                    3      0.0
nwe_coatt      0    0      0.0
                    1      0.0
                    2      0.0
                    3      0.0
               1    0      0.0
                    1      0.0
                    2      0.0
                    3      0.0